a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/*MAIN*/
body{background: #000;}
.ir{display: block; text-indent: -9999px; overflow: hidden;}

.col12{display:block; width: 100%;}
.col6{display:block; width: 49.9%; display: inline-block;}
.col4{display:block; width: 33%; display: inline-block;}
.col3{display:block; width: 24.9%; display: inline-block;}
.col2{display:block; width: 16.5%; display: inline-block;}
.col1{display:block; width: 8.25%; display: inline-block;}

div.video {width: 100%; height: 100vh; position: relative;}

#home{
	position: absolute;
	z-index: 99999;
	width: 100%;
	height: 100vh;
}
.conteudo{
	position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: fadeIn .8s ease 1s forwards;
}
.conteudo .logo{
	width: 317px;
	height: 300px;
	margin: 15% auto 0;
	display: block;
	transition: all ease .8s;
	transform-origin: center top;
	cursor: pointer;
}
.conteudo .logo svg{
	width: 300px;
	height: 300px;
}
.conteudo nav{
	width: 185px;
    margin: 20px auto 0;
}
.conteudo nav a{
	display: inline-block;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
	font-family: 'Fjalla One';
	font-size: 18px;
	transition: all ease .8s;
	border-bottom: 2px solid transparent;
}
.conteudo nav a.bt-contato{
	margin-left: 77px;
}
.sobre, .contato{
	display: none;
	width: 400px;
	color: #fff;
	font-family: 'Cabin';
	background-color: rgba(0, 0, 0, 0.6);
	margin: 30px auto 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 20px 15px;
	transition: all ease .8s;
}
.sobre span{
	display: block;
    margin: 10px auto;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 12px;
}
.sobre h1{font-size: 20px; margin: -5px 0 10px; text-transform: uppercase; text-align:center;}
.sobre p, .contato p{
	margin-bottom: 15px;
    line-height: 1.5;
    font-size: 16px;
    text-align: center;
}
.sobre p b{font-weight: bold; color: #EC3E3E;}
.sobre p:last-child, .contato p:last-child{font-size: 18px; margin-bottom: 0;}
.contato{}

/*videos*/
.video-wrapper{
	width: 100%;
	height: 100vh;
  	overflow: hidden;
  	transition: all ease .6s;
  	shape-inside: polygon(0vw 0vh, 25vw 0vh,100vw 0vh, 100vw 100vh, 75vw 100vh ,0vw 100vh);
  	-webkit-clip-path: polygon(0vw 0vh, 25vw 0vh,100vw 0vh, 100vw 100vh, 75vw 100vh ,0vw 100vh);
}

/*keyframes*/

.shade{background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	background: radial-gradient(ellipse at center,  rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );}
.reduce{animation: reduce .4s ease forwards;}
.engorge{animation: engorge .4s ease forwards;}
.up{animation: up .4s ease forwards;}
.down{animation: down .4s ease forwards;}
.hide{animation: hide .4s ease forwards;}
.cut1{
	shape-inside: polygon(0vw 100vh, 25vw 0vh,100vw 0vh, 100vw 0vh, 75vw 100vh ,0vw 100vh);	
  	-webkit-clip-path: polygon(0vw 0vh, 25vw 0vh,100vw 0vh, 100vw 0vh, 75vw 100vh ,0vw 100vh);	
}
.cut2{
	shape-inside: polygon(0vw 100vh, 25vw 0vh,100vw 0vh, 100vw 0vh, 75vw 100vh ,0vw 100vh);	
  	-webkit-clip-path: polygon(0vw 100vh, 25vw 0vh,100vw 0vh, 100vw 100vh, 75vw 100vh ,0vw 100vh);	
}

@keyframes fadeIn{
	0%{opacity:0;}
	100%{opacity:1;}
}
@keyframes reduce{
	0%{transform: scale(1,1);}
	100%{transform: scale(.5,.5); margin-top: 7%;}
}
@keyframes engorge{
	0%{transform: scale(.5,.5);}
	100%{transform: scale(1,1);}
}
@keyframes up{
	0%{transform: translateY(0px);}
	100%{transform: translateY(-150px);}
}
@keyframes down{
	0%{transform: translateY(-150px);}
	100%{transform: translateY(0px);}
}
/* RESPONSIVE */
.conteudo nav a:hover, .undline{
	border-bottom: 2px solid #fff !important;
}

/*awesomeness*/
.konami{
	animation: konami 10s ease infinite;
	background: linear-gradient(270deg, #e10bdd, #f0bd00);
	background-size: 400% 400%;
	width: 100%;
	height: 100vh;
}
@keyframes konami { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}